---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="container">

  {% if site.author.googlescholar %}
    <div class="wordwrap">
      For a full list of publications, please see my 
      <a href="{{ site.author.googlescholar }}" target="_blank">Google Scholar profile</a>.
    </div>
  {% endif %}

  {% for page in site.pages %}
    {% if page.title == "Publications" %}
      {{ page.content | markdownify }}
    <!-- {{ page.content | split: '\n' | slice: 1, 100 | join: '\n' | markdownify }} -->
    {% endif %}
  {% endfor %}
</div>

<!-- <h3>Preprints and Working Papers</h3>
<ul>
    <li>[P5] <strong>M. Morafah</strong>, K. Xu, O. Sheng, <em>“Leveraging GPT for Robust Causal Treatment Effect Estimation in Limited Experimental Settings”</em>, Working Paper, 2024.</li>
    <li>[P4] <strong>M. Morafah</strong>, V. Kungurtsev, <em>“Data Acquisition via Experimental Design for Decentralized Data Markets”</em>, Working Paper, 2024.</li>
    <li>[P3] <strong>M. Morafah</strong>, V. Kungurtsev, <em>“Decentralized Minimax Estimation of Conditional Moment Models”</em>, Working Paper, 2024.</li>
    <li>[P2] Z. Hao, <strong>M. Morafah</strong>, K. Xu, and T. Zhou, <em>“Optimal Ranking Algorithm on Online Health Forum”</em>, Working Paper (draft available upon request), 2024.</li>
    <li>[P1] <strong>M. Morafah</strong>*, E. Bakhitov*, A. Singh, and J. Zhang, <em>“Deep Causal Inequalities: Demand Estimation in Differentiated Products Markets”</em>, Working Paper (draft available upon request), 2024.</li>
</ul>

<h3>Conference Papers</h3>
<ul>
    <li>[C4] <strong>M. Morafah</strong>, V. Kungurtsev, H. Chang, C. Chen, and B. Lin, <em>“Towards Diverse Device Heterogeneous Federated Learning via Task Arithmetic Knowledge Integration”</em>, <strong>Advances in Neural Information Processing Systems (NeurIPS)</strong>, Dec 2024. <a href="https://arxiv.org/abs/2409.18461">Paper</a> | <a href="https://mmorafah.github.io/takflpage/">Project Website</a> | <a href="https://github.com/mmorafah/takfl">Code</a></li>
    <li>[C3] <strong>M. Morafah</strong>, H. Chang, and B. Lin, <em>“Invited Paper: Large Scale Delocalized Federated Learning Over a Huge Diversity of Devices in Emerging Next-Generation Edge Intelligence Environments”</em>, <strong>ACM/IEEE International Conference on Computer-Aided Design (ICCAD)</strong>, October 2024. <a href="https://2024.iccad.com/ss4">Talk Website</a></li>
    <li>[C2] S. Vahidian*, <strong>M. Morafah</strong>*, W. Wang, C. Chen, M. Shah and B. Lin, <em>“Efficient Distribution Similarity Identification in Clustered Federated Learning via Principal Angles Between Client Data Subspaces”</em>, <strong>Association for the Advancement of Artificial Intelligence (AAAI)</strong>, Nov 2022. <a href="https://arxiv.org/abs/2209.10526">Paper</a> | <a href="https://github.com/MMorafah/PACFL">Code</a></li>
    <li>[C1] S. Vahidian*, <strong>M. Morafah</strong>* and B. Lin, <em>“Personalized Federated Learning by Structured and Unstructured Pruning under Data Heterogeneity”</em>, <strong>IEEE 41st International Conference on Distributed Computing Systems (ICDCS)</strong>, July 2021. <a href="https://ieeexplore.ieee.org/document/9545941">Paper</a> | <a href="https://github.com/MMorafah/Sub-FedAvg">Code</a> | <a href="https://www.youtube.com/watch?v=ttY7T8W5YQE">Video</a></li>
</ul>

<h3>Journals</h3>
<ul>
    <li>[J5] <strong>M. Morafah</strong>, H. Chang, C. Chen, and B. Lin, <em>“Federated Learning Client Pruning for Noisy Labels”</em>, Under review at <strong>ACM Transactions on Modeling and Performance Evaluation of Computing Systems</strong>, October 2024.</li>
    <li>[J4] <strong>M. Morafah</strong>, W. Wang and B. Lin, <em>“FedZoo: A Practical Recipe to Federated Learning With Non-IID Data Experimental Design”</em>, <strong>IEEE Transactions on Artificial Intelligence (IEEE TAI)</strong>, July 2023. <a href="https://arxiv.org/abs/2208.09754">Paper</a> | <a href="https://github.com/MMorafah/FedZoo-Bench">Code</a></li>
    <li>[J3] <strong>M. Morafah</strong>*, S. Vahidian*, W. Wang* and B. Lin, <em>“FLIS: Clustered Federated Learning via Inference Similarity for Non-IID Data Distribution”</em>, <strong>IEEE Open Journal of the Computer Society</strong>, March 2023. <a href="https://arxiv.org/abs/2209.15595">Paper</a> | <a href="https://github.com/MMorafah/FLIS">Code</a></li>
    <li>[J2] <strong>M. Morafah</strong>*, S. Vahidian*, C. Chen, M. Shah and B. Lin, <em>“Rethinking Data Heterogeneity in Federated Learning: Introducing a New Notion and Standard Benchmarks”</em>, <strong>IEEE Transactions on Artificial Intelligence (IEEE TAI)</strong>, October 2022. <a href="https://arxiv.org/abs/2209.15595">Paper</a> | <a href="https://github.com/MMorafah/FL-SC-NIID">Code</a></li>
    <li>[J1] V. Kungurtsev, <strong>M. Morafah</strong>, T. Javidi and G. Scutari, <em>“Decentralized Asynchronous Non-convex Stochastic Optimization on Directed Graphs”</em>, <strong>IEEE Transactions on Control of Network Systems (TCNS)</strong>, October 2022. <a href="https://arxiv.org/abs/2110.10406">Paper</a></li>
</ul>

<h3>Workshops</h3>
<ul>
    <li>[W3] <strong>M. Morafah</strong>, M. Reisser, C. Louizos, and B. Lin, <em>“Stable Diffusion-based Data Augmentation for Federated Learning with Non-IID Data”</em>, <strong>International Workshop on Federated Foundation Models for the Web (FL@FM-TheWebConf’24)</strong>, May 2024. <a href="https://federated-learning.org/fl@fm-www-2024/">Paper</a> | <a href="https://federated-learning.org/fl@fm-www-2024/">Website</a></li>
    <li>[W2] <strong>M. Morafah</strong>*, S. Vahidian*, W. Wang* and B. Lin, <em>“FLIS: Clustered Federated Learning via Inference Similarity for Non-IID Data Distribution”</em>, <strong>International Workshop on Federated Learning in Conjunction with NeurIPS (FL-NeurIPS’22)</strong>, October 2022. <a href="https://arxiv.org/abs/2208.09754">Paper</a> | <a href="https://github.com/MMorafah/FLIS">Code</a></li>
    <li>[W1] <strong>M. Morafah</strong>*, S. Vahidian*, C. Chen, M. Shah and B. Lin, <em>“Rethinking Data Heterogeneity in Federated Learning: Introducing a New Notion and Standard Benchmarks”</em>, <strong>International Workshop on Federated Learning in Conjunction with NeurIPS (FL-NeurIPS’22)</strong>, October 2022. <a href="https://arxiv.org/abs/2209.15595">Paper</a> | <a href="https://github.com/MMorafah/FL-SC-NIID">Code</a> | <a href="https://federated-learning.org/fl-neurips-2022/">Website</a></li>
</ul>

<h3>Book Chapters</h3>
<ul>
    <li>[B1] S. Ahmad, M. Alharbi, <strong>M. Morafah</strong>, S. Jha, <em>"Federated Learning - A Systematic Review"</em>, Under review at <strong>IntechOpen</strong>, October 2024.</li>
</ul>

<p>* denotes equal contribution</p> -->


<div class="additional-content">

<h2>Publications</h2>

<h3>Preprints and Working Papers</h3>
<ul>
    <li>[P5] <em>Leveraging GPT for Robust Causal Treatment Effect Estimation in Limited Experimental Settings</em>, Working Paper, 2024. (with K. Xu, O. Sheng, <strong>M. Morafah</strong>)</li>
    <li>[P4] <em>Data Acquisition via Experimental Design for Decentralized Data Markets</em>, Working Paper, 2024. (with <strong>M. Morafah</strong>, V. Kungurtsev)</li>
    <li>[P3] <em>Decentralized Minimax Estimation of Conditional Moment Models</em>, Working Paper, 2024. (with <strong>M. Morafah</strong>, V. Kungurtsev)</li>
    <li>[P2] <em>Optimal Ranking Algorithm on Online Health Forum</em>, Working Paper (draft available upon request), 2024. (with Z. Hao, <strong>M. Morafah</strong>, K. Xu, T. Zhou)</li>
    <li>[P1] <em>Deep Causal Inequalities: Demand Estimation in Differentiated Products Markets</em>, Working Paper (draft available upon request), 2024. (with <strong>M. Morafah</strong>, E. Bakhitov, A. Singh, J. Zhang)</li>
</ul>

<h3>Conference Papers</h3>
<ul>
    <li>[C4] <em>Towards Diverse Device Heterogeneous Federated Learning via Task Arithmetic Knowledge Integration</em>, <strong>Advances in Neural Information Processing Systems (NeurIPS)</strong>, Dec 2024. (with <strong>M. Morafah</strong>, V. Kungurtsev, H. Chang, C. Chen, B. Lin) <a href="https://arxiv.org/abs/2409.18461">Paper</a> | <a href="https://mmorafah.github.io/takflpage/">Project Website</a> | <a href="https://github.com/mmorafah/takfl">Code</a></li>
    <li>[C3] <em>Invited Paper: Large Scale Delocalized Federated Learning Over a Huge Diversity of Devices in Emerging Next-Generation Edge Intelligence Environments</em>, <strong>ACM/IEEE International Conference on Computer-Aided Design (ICCAD)</strong>, October 2024. (with <strong>M. Morafah</strong>, H. Chang, B. Lin) <a href="https://2024.iccad.com/ss4">Talk Website</a></li>
    <li>[C2] <em>Efficient Distribution Similarity Identification in Clustered Federated Learning via Principal Angles Between Client Data Subspaces</em>, <strong>Association for the Advancement of Artificial Intelligence (AAAI)</strong>, Nov 2022. (with S. Vahidian, <strong>M. Morafah</strong>, W. Wang, C. Chen, M. Shah, B. Lin) <a href="https://arxiv.org/abs/2209.10526">Paper</a> | <a href="https://github.com/MMorafah/PACFL">Code</a></li>
    <li>[C1] <em>Personalized Federated Learning by Structured and Unstructured Pruning under Data Heterogeneity</em>, <strong>IEEE 41st International Conference on Distributed Computing Systems (ICDCS)</strong>, July 2021. (with S. Vahidian, <strong>M. Morafah</strong>, B. Lin) <a href="https://ieeexplore.ieee.org/document/9545941">Paper</a> | <a href="https://github.com/MMorafah/Sub-FedAvg">Code</a> | <a href="https://www.youtube.com/watch?v=ttY7T8W5YQE">Video</a></li>
</ul>

<h3>Journals</h3>
<ul>
    <li>[J5] <em>Federated Learning Client Pruning for Noisy Labels</em>, Under review at <strong>ACM Transactions on Modeling and Performance Evaluation of Computing Systems</strong>, October 2024. (with <strong>M. Morafah</strong>, H. Chang, C. Chen, B. Lin)</li>
    <li>[J4] <em>FedZoo: A Practical Recipe to Federated Learning With Non-IID Data Experimental Design</em>, <strong>IEEE Transactions on Artificial Intelligence (IEEE TAI)</strong>, July 2023. (with <strong>M. Morafah</strong>, W. Wang, B. Lin) <a href="https://arxiv.org/abs/2208.09754">Paper</a> | <a href="https://github.com/MMorafah/FedZoo-Bench">Code</a></li>
    <li>[J3] <em>FLIS: Clustered Federated Learning via Inference Similarity for Non-IID Data Distribution</em>, <strong>IEEE Open Journal of the Computer Society</strong>, March 2023. (with <strong>M. Morafah</strong>, S. Vahidian, W. Wang, B. Lin) <a href="https://arxiv.org/abs/2209.15595">Paper</a> | <a href="https://github.com/MMorafah/FLIS">Code</a></li>
    <li>[J2] <em>Rethinking Data Heterogeneity in Federated Learning: Introducing a New Notion and Standard Benchmarks</em>, <strong>IEEE Transactions on Artificial Intelligence (IEEE TAI)</strong>, October 2022. (with <strong>M. Morafah</strong>, S. Vahidian, C. Chen, M. Shah, B. Lin) <a href="https://arxiv.org/abs/2209.15595">Paper</a> | <a href="https://github.com/MMorafah/FL-SC-NIID">Code</a></li>
    <li>[J1] <em>Decentralized Asynchronous Non-convex Stochastic Optimization on Directed Graphs</em>, <strong>IEEE Transactions on Control of Network Systems (TCNS)</strong>, October 2022. (with V. Kungurtsev, <strong>M. Morafah</strong>, T. Javidi, G. Scutari) <a href="https://arxiv.org/abs/2110.10406">Paper</a></li>
</ul>

<h3>Workshops</h3>
<ul>
    <li>[W3] <em>Stable Diffusion-based Data Augmentation for Federated Learning with Non-IID Data</em>, <strong>International Workshop on Federated Foundation Models for the Web (FL@FM-TheWebConf’24)</strong>, May 2024. (with <strong>M. Morafah</strong>, M. Reisser, C. Louizos, B. Lin) <a href="https://federated-learning.org/fl@fm-www-2024/">Paper</a> | <a href="https://federated-learning.org/fl@fm-www-2024/">Website</a></li>
    <li>[W2] <em>FLIS: Clustered Federated Learning via Inference Similarity for Non-IID Data Distribution</em>, <strong>International Workshop on Federated Learning in Conjunction with NeurIPS (FL-NeurIPS’22)</strong>, October 2022. (with <strong>M. Morafah</strong>, S. Vahidian, W. Wang, B. Lin) <a href="https://arxiv.org/abs/2208.09754">Paper</a> | <a href="https://github.com/MMorafah/FLIS">Code</a></li>
    <li>[W1] <em>Rethinking Data Heterogeneity in Federated Learning: Introducing a New Notion and Standard Benchmarks</em>, <strong>International Workshop on Federated Learning in Conjunction with NeurIPS (FL-NeurIPS’22)</strong>, October 2022. (with <strong>M. Morafah</strong>, S. Vahidian, C. Chen, M. Shah, B. Lin) <a href="https://arxiv.org/abs/2209.15595">Paper</a> | <a href="https://github.com/MMorafah/FL-SC-NIID">Code</a> | <a href="https://federated-learning.org/fl-neurips-2022/">Website</a></li>
</ul>

<h3>Book Chapters</h3>
<ul>
    <li>[B1] <em>Federated Learning - A Systematic Review</em>, Under review at <strong>IntechOpen</strong>, October 2024. (with S. Ahmad, M. Alharbi, <strong>M. Morafah</strong>, S. Jha)</li>
</ul>

<p>* denotes equal contribution</p>
</div>
