---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="container">
  {% for page in site.teaching %}
    {% if page.title == "Teaching" %}
      {{ page.content | markdownify }}
    {% endif %}
  {% endfor %}
</div>

<!-- <h2>Teaching Experience</h2>

<h3>University of California San Diego</h3>
<ul>
    <li><strong>Developer & Lecturer</strong>: Generative AI in Business, Spring 2025</li>
    <li><strong>Instructor & Mentor</strong>: Business Analytics Capstone Project (MGTA 454), Spring 2024</li>
    <li><strong>Teaching Assistant</strong>: Engineering Probability & Statistics (ECE 109), Spring 2023, Fall 2020</li>
    <li><strong>Teaching Assistant</strong>: Digital Signal Processing I (ECE 251B), Winter 2023</li>
    <li><strong>Teaching Assistant</strong>: Deep Learning (CSE 151B), Winter 2023</li>
    <li><strong>Teaching Assistant</strong>: Linear Systems Fundamentals (ECE 101), Winter 2020</li>
    <li><strong>Teaching Assistant</strong>: Introduction to Digital Signal Processing (ECE 161A), Fall 2019</li>
</ul>

<h3>Amirkabir University of Technology</h3>
<ul>
    <li><strong>Head Teaching Assistant</strong>: Discrete-Time Signal Processing, Spring 2019</li>
</ul> -->

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
